@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'DFVNHelloHoney';
    src: url('/fonts/DFVNHelloHoney.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVF-WazaLTPro';
    src: url('/fonts/UVF-WazaLTPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LNTH-HotelLorint';
    src: url('/fonts/LNTH-HotelLorint.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}